src/ASPNETCoreRC2Angular2Demo/node_modules/
src/ASPNETCoreRC2Angular2Demo/obj
src/ASPNETCoreRC2Angular2Demo/wwwroot/js
src/ASPNETCoreRC2Angular2Demo/typings
src/ASPNETCoreRC2Angular2Demo/bin
src/ASPNETCoreAngular2Demo/node_modules
src/ASPNETCoreAngular2Demo/wwwroot/js
.vs/
