<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <br/>
            <br/>
            <h1>{{message}}</h1>
            
            <h3>Values from ASP.NET CORE WebAPI</h3>
            <ul>
                <li *ngFor="let value of values">
                    <span>{{value}} </span>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <label>Datums no:</label>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control"
                           name="dateFrom"
                           a2e-datetimepicker
                           [date]="dateFrom"
                           [options]="dateFromOptions"
                           (onChange)="dateFromChange($event)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->